  <div id="home">
	<div class="content-title row">About Us</div>
		
	</div>
	<div id="content" class="row">
		<div class="col-xs-4"><span>Our lives are full. Busy with celebrations and sharing time with our loved ones on days that are really important to us. Who doesn't love surprises throughout the year... then add the element of choice in which our favorite establishments send us special gifts?</span></div>
		<div class="col-xs-4"><span>My Special Days is all about the freedom of choice to reeive wonderful surprise deals on days that matter to us. Celebrate all year and enjoy your Special Day!</span></div>
		<div class="col-xs-4"><span>If you are a business and would like toparticipate for as low as $1.00 per day then please contact us at <a href="mailto:mdeitz@bluetie.com">mdeitz@bluetie.com</a> or call 1800-Bluetie</span></div>
	</div>
	<img src="img/login.png" id="social-login" />
	<div class="sponsors row">Some Generous Companies We Work WIth</div>
	<div class="logos row">
		<div class="col-xs-4"><img src="img/logos/1.jpg" /></div>
		<div class="col-xs-4"><img src="img/logos/2.png" /></div>
		<div class="col-xs-4"><img src="img/logos/3.jpg" /></div>
	</div>
	<div class="logos row">
		<div class="col-xs-4"><img src="img/logos/4.png" /></div>
		<div class="col-xs-4"><img src="img/logos/5.gif" /></div>
		<div class="col-xs-4"><img src="img/logos/6.png" /></div>
	</div>
  </div>